.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.loginInput {
  width: 100%;
  max-width: 440px;
}

.logingInput:active {
  border-color: #2db97c;
  background-color: #2db97c;
}

.loginButton {
  width: 100%;
  max-width: 440px;
  margin-top: 1rem;
  font-size: 0.9rem;
  background-color: #2db97c;
}

.loginButton:hover {
  background-color: rgb(17, 17, 17);
}
